{% extends 'base.html.twig' %}
{% block body %}
    <h1>Catégories :</h1>
    <ul>
        {% for category in categories %}
        <li>{{ category.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}