{% extends 'base.html.twig' %}
{% block body %}
    <h1>Catégories :</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('show_category', {'id':category.id}) }}"> {{ category.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}